<!DOCTYPE html>
<html ng-app="FamousList">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAMOUS COMPOSERS</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="top.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="top.css"/>
    <link rel="icon" href="/Top 5/images/kisspng-portable-network-graphics-computer-icons-clip-art-ocm-epk-one-church-5cba0363cac613.0848359515556944358306.jpg">
</head>
<body ng-controller = "composerController">
    <h1>FAMOUS COMPOSERS  </h1>
    <h1>HALL OF FAME - COMPOSERS</h1>
    <h1></h1>

<table class="top-table">
    <tr>
        <td><img ng-click="select ='Bach'" src="/Top 5/images/licensed-image.jpeg">Bach</td>
        <td><img ng-click="select ='Beethoven'" src="/Top 5/images/194048_v9_ba.jpg">Beethoven</td>
        <td><img ng-click="select ='Mozart'" src="/Top 5/images/188667_v9_ba.jpg"> Mozart</td>
    </tr>
</table>

<table class="bottom-table">
    <tr>
        <td colspan="3"><h2>5 pieces of Music</h2> </td>
    </tr>
    <tr ng-repeat = "p in pieces" ng-if="p.composer == select">
        <td><img src="{{p.pic}}"></td>
        <td>{{p.composer}}</td>
        <td>{{p.title}}</td>
    </tr>



</table>










</body>
</html>